

  ul{ 
    margin: 0;
    padding: 0;
    
}

/* .t1{ 
    padding: 15px;
}
*/

li{
    width: 100px; 
    text-align:center;
}

ul li 
{
    list-style-type: none;
    display: inline;
    border: 1px solid black ;
    background-color: coral;
    width: 100px;
    float:left;
    text-align: center;
    padding: 0;
}

/* .temp{
    margin-top: 15px;
}

.temp li{
    margin-left: -15px;
    width: 100px;

} */

  
 ul li a{
     text-decoration: none;
     color: brown;
 }
   
  ul li:hover{
      background-color: darkgoldenrod;
  }
    

  ul li a:hover{
      color: darkseagreen;
  }
  
   ul ul{ 
      display:none;
  }

   ul li:hover>ul 
  {
      display:block;
  }
  