*{
    margin: 0;
    padding: 0;
}

#img{
    width: 100%;
    height: 100vh;
    background-image: url("./images/the-road-815297__340.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}
#img1{
    width: 100%;
    height: 100vh;
    background-image: url("./images/buddha.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


